# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
backend/venv/

# Environment Variables
.env

# Streamlit Cache
.streamlit/

# VS Code
.vscode/

# Vector Database (optional)
backend/app/vector_db/

# Uploaded Incident Datasets
backend/app/data/incidents/

# OS Files
.DS_Store
Thumbs.db